# Eclipse/STS
.classpath
.project
.settings/

# Compilação
bin/
target/
build/
out/

# Arquivos temporários
*.log
*.tmp
*.bak
*.swp

# Sistema operacional
.DS_Store
Thumbs.db
Desktop.ini

# Outros (se aplicável)
*.env
